* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

body {
    background-image: url('../img/vitlkBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.top-nav {
    width: 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px; 
}


.left-side {
    display: flex;
    gap: 20px; 
}

.left-side h3 {
    font-size: 18px;
    font-weight: normal;
}


.right-side {
    display: flex;
    align-items: center;
    gap: 15px; 
}

.lang-text {
    font-weight: bold;
    font-size: 14px;
}

#language {
    width: 25px;
    height: 25px;
}

#share {
    width: 25px;
    height: 25px;
}