* {
    padding: 0;
    margin:0;
    box-sizing: border-box; 
}

body {
    background-image: url('../img/vitlkBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.top-nav {
    width: 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px; 
    
}


.left-side {
    margin-left: 100px;
    display: flex;
    gap: 20px; 
}

.left-side h3 {
    font-size: 18px;
    font-weight: normal;
}


.right-side {
    margin-right: 100px;
    display: flex;
    align-items: center;
    gap: 15px; 
}

.lang-text {
    font-weight: bold;
    font-size: 14px;
}

#language {
    width: 25px;
    height: 25px;
}

#share {
    width: 25px;
    height: 25px;
}
.mid-nav{
    width: 100%;
    background-color:lightskyblue;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px; 
}
#logo{
    width: 100px;
    height: 100px;
}
.align-middle{
    width: 500px;
    height: 50px;
    background-color: aliceblue;
    border-radius: 50px;

    display: flex;
    justify-content: flex-end; 
    align-items: center;       
    padding-right: 15px;
}
.search{
    width: 30px;
    height: 30px;
    cursor: pointer;
    
}
.position{
    width: 100%;
    position: fixed;
}
